.board{
    display: grid;    
    grid-template-columns: repeat(20,1fr);
    
    grid-gap: 0px;
}

.board > div
{
    height:38px;
    box-sizing: border-box;
    border: 1px solid black;

}

.board > .nonEmpty
{
    background-color: black;
}

.header div
{
padding-bottom: 15px;
align-content: center;
}

.header div button
{
    background-color: black;
    color: white;
    border-color: black;
    font-size: 1.2em;
    padding: 5px;
    margin-right: 15px;
}

.header div button:disabled
{
    color: darkslategray;
    background-color:grey ;
    border-color: grey;
}